.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.brandlogo {
    align-items: center;
    margin-right: 10px;
    height: 150px;
    width: 150px;
  }

.parag4 {
    text-align: center;
    padding-left: 275px;
    padding-right: 275px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }

h1 {
    padding: 200px;
    text-align: center;
    font-style: initial;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 85px;
}
